@charset "utf-8";
/* ===============================================
# mixins
================================================ */
//マップ型変数breakpointsを定義
$breakpoints: (
//キー  値
'sm': 'screen and (max-width: 576px)',
'md': 'screen and (max-width: 768px)',
'lg': 'screen and (max-width: 1000px)',
'xl': 'screen and (max-width: 1200px)',
'xxl': 'screen and (max-width: 1400px)',
) !default;

//メディアクエリ用のmixinを定義。デフォ値はmd
@mixin mq($breakpoint: md) {  //ここでのspは初期値の記述。多分。
//map-get(マップ型変数, キー)で値を取得
  @media #{map-get($breakpoints, $breakpoint)} {
    //この中をカスタムできる
    @content;
  }
}

/* ===============================================
# colors
================================================ */
$primary-color: #023E78;
$secondary-color: #EDF3F8;
$shadow-color: #00000029;
$text-color1: #1A1A1A;
$text-color2: #FFFFFF;
$text-color3: #888888;
$accent-color1: #FFF400;
$accent-color2: #E61264;
$line-color: #DDDDDD;

/* ===============================================
# font
================================================ */
$font-family1: 'Noto Sans JP', sans-serif;
$font-family2: 'Fira Sans', sans-serif;
$font-family3: 'Roboto', sans-serif;

/* ===============================================
# common - 全体に共通するスタイル
================================================ */
@include mq(sm) {
  .none-sm {
    display: none;
  }
}

@include mq(md) {
  .none-md {
    display: none;
  }
}
@include mq(lg) {
  .none-lg {
    display: none;
  }
}
@include mq(xl) {
  .none-xl {
    display: none;
  }
}
@include mq(xxl) {
  .none-xxl {
    display: none;
  }
}

body {
  font-size: 14px;
  color: $text-color1;
  font-family: $font-family1;
  line-height: 1.7142;

  // 背景全てにチェックで何か色をつけたい時用
  // background-color: $text-color3;
}

img {
  width: 100%;
}

.inner {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 7.0312vw;
  box-sizing: content-box;

  @include mq(lg) {
    padding: 0 10.6667vw;
  }
}

.util-title {
  color: $primary-color;
  font-family: $font-family2;
  font-size: 100px;
  // line-height: 9.4531vw;
  line-height: 1.21em;

  @include mq(md) {
    font-size: 52px;
  }
}

.util-title-jp {
  font-size: 24px;
  line-height: 1.458em;
  color: $primary-color;
  font-family: $font-family2;
  font-weight: bold;

  @include mq(md) {
    font-size: 16px;
  }
}

.view-more {
@include mq(lg) {
  display: none;
}


}

.view-more-square {
  margin-top: 40px;
  text-align: center;
}

.view-more-square-link {
  display: inline-block;
  font-family: $font-family2;
  font-style: italic;
  font-size: 24px;
  line-height: 28px;
  color: $accent-color1;
  border: solid 3px $accent-color1;
  padding: 35px 100px;
  position: relative;

  &::after {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    right: 32px;
    transform: translateY(-50%);
    width: 21px;
    height: 14px;
    background: url(/img/01-top/icon-arrow-right01.svg) center center / cover no-repeat;
  }

}



/* ===============================================
  @extend
=============================================== */
.service-item-img {

}



/* ===============================================
  header
=============================================== */
.drawer {

}

.drawer--right {

}

.header {
  width: 100%;
  height: 100px;
}

.header-inner {
  margin: 0 16px;
  display: flex;
  align-items: center;
}

.header-logo {
  width: 282px;
  height: 53px;
}

.drawer-toggle {

}

.drawer-hamburger {

}

.sr-only {

}

.drawer-hamburger-icon {

}

.drawer-nav {


}

.header-nav {
  margin-left: auto;

}

.drawer-menu {

}

.header-nav-list {
  display: flex;
  align-items: center;

}

.header-nav-item {
  position: relative;

  & + & {
    margin-left: 3.5937vw;
    // margin-left: 46px;

    &::before {
      position: absolute;
      content: '／';
      display: inline-block;
      // display: block;
      left: -2.3437vw;
      // left: -30px;
      top: 50%;
      transform: translateY(-50%);
    }
  }


}

.header-nav-item-link {
  display: block;
  color: $text-color1;
  height: 100px;
  line-height: 100px;
}

.header-nav-download {
  display: inline-block;
  border: solid 1px $primary-color;
  width: 176px;
  margin-left: 32px;

  @include mq(xl) {
    display: none;
  }
}

.header-nav-download-link {
  display: block;
  color: $text-color1;
  height: 66px;
  line-height: 66px;
  text-align:center;
}

.header-nav-contact {
  display: inline-block;
  width: 176px;
  margin-left: 10px;

  @include mq(lg) {
    display: none;
  }

}

.header-nav-contact-link {
  display: block;
  color: $text-color2;
  height: 68px;
  line-height: 68px;
  text-align:center;
  background: $primary-color;
}

/* ===============================================
  top
=============================================== */
.top {
  position: relative;

}

.top-pic {
  padding-top: 58%;
  background: url(/img/01-top/img-mv01_pc@2x.jpg) top right / 92.9% no-repeat;  
}

.top-message {
  position: absolute;
  left: 50px;
  top: 85.7%;
  transform: translateY(-100%);
}

.top-message-title {
  background: $text-color2;
  color: $primary-color;
  font-size: 4.6875vw;
  font-family: $font-family2;
  line-height: 1.2;
  width: fit-content;
  & + & {
    margin-top: 16px;
  }
}

.sm-change {
  display: none;

  @include mq(sm) {
    display: block;
  }
}

.top-message-text {
  background: $primary-color;
  color: $text-color2;
  font-size: 1.5625vw;
  font-weight: bold;
  line-height: 1.45;
  margin-top: 16px;
  width: fit-content;
}

/* ===============================================
  about
=============================================== */
.about {
  background: url(/img/01-top/bg-company@2x.jpg) top right / contain no-repeat;
  max-height: 800px;
  height: 62.5vw;
  position: relative;

  @include mq(lg) {
    background: url(/img/01-top/bg-case@2x.jpg) bottom right / contain no-repeat;
    // background-size: auto 96.5333vw;
    // width: 100%;
    max-height: 1300px;
    height: 256.266vw;
  }

  &::before {
    content: '';
    display: block;
    position: absolute;
    top: 28%;
    left: 0;
    width: 100%;
    height: 92%;
    background: $secondary-color;
    transform: skewY(10deg);
    z-index: -1;
  }
}

.about-inner {
  padding-top: clamp(8.125vw, 8.125vw, 104px);
  
}

.util-title-flex {
  display: flex;
}

.util-title-wrap {
}

.about-message-flex {
  display: flex;
  margin-top: 21px;
  align-items: center;
  
  @include mq(lg) {
    display: block;
  }

}

.about-message-text {
  width: 29.6875vw;
  font-size: 14px;
  line-height: 1.7142;

  @include mq(lg) {
    width: 100%;
  }
}



.about-view {
  color: $text-color2;
}

.about-message-img {
  width: 53.125vw;
  margin-left: 3.125vw;
}




/* ===============================================
  service
=============================================== */
.service {
  margin-top: 250px;
  position: relative;

  &::before {
    content: '';
    display: block;
    position: absolute;
    top: 55%;
    left: 0;
    width: 100%;
    height: 45%;
    background: $secondary-color;
    transform: skewY(10deg);
    z-index: -1;
  }
}

.service-view {

}

.service-list {
  max-width: 1100px;
  height: 830px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 70px;
  margin-top: 48px;
}

.service-item {
  max-height: 583px;
  max-width: 320px;
  height: 583px;
}

.service-item-1 {

}

.service-item-2 {
  margin-top: 55px;

}

.service-item-3 {
  margin-top: 110px;

}

.service-item-img-1 {
  height: 33.3593vw;
  background: url(/img/01-top/img-service01@2x.jpg) bottom left / 100% no-repeat;
  position: relative;
}

.service-item-img-2 {
  height: 33.3593vw;
  background: url(/img/01-top/img-service02@2x.jpg) bottom left / 100% no-repeat;
  position: relative;
}

.service-item-img-3 {
  height: 33.3593vw;
  background: url(/img/01-top/img-service03@2x.jpg) bottom left / 100% no-repeat;
  position: relative;
}

.service-item-title-1 {
  position: absolute;
  color: $primary-color;
  background: $text-color2;
  font-size: 2.1875vw;
  line-height: 3.125vw;
  top: 80%;
  left: -10%;
}
.service-item-title-2 {
  position: absolute;
  top: 70%;
  left: -10%;
}
.service-item-title-3 {
  position: absolute;
  top: 70%;
  left: -10%;
}


.service-item-title {
  display: inline-block;
  color: $primary-color;
  background: $text-color2;
  font-size: 2.1875vw;
  line-height: 3.125vw;
}

.service-item-title-bottom {
  color: $primary-color;
  background: $text-color2;
  font-size: 2.1875vw;
  line-height: 3.125vw;
  margin-top: 9px;
}

.service-item-text {
  color: $text-color1;
  margin-top: 16px;
  font-size: 14px;
  line-height: 24px;
}






/* ===============================================
  case
=============================================== */
.case {
  background: url(/img/01-top/bg-case@2x.jpg) center center / cover no-repeat;
  padding-top: 99px;
  // height: 1173px;

  * {
    color: $text-color2;
  }
}




.case-items {
  display: grid;
  grid-template: 1fr 1fr / 1fr 1fr 1fr;
  grid-gap: clamp(6.3636%, 6.3636%, 70px);
  margin-top: 80px;
  padding-bottom: 120px;
}

.case-item {

}

.case-item-img {

}
.case-item-title {
  line-height: 1.5;
  margin: 16px auto 6px 0;
}

.case-item-sub-title-wrap {
  height: 44px;
  display: flex;
  align-items: center;
}

.case-item-sub-title {
  border: solid 1px $text-color2;
  padding: 3px 15px 3px 15px;
}

.case-item-sub-title-img {
  margin-left: auto;
  margin-right: 8px;
}



/* ===============================================
  news
=============================================== */
.news {
  margin-top: 166px;
  position: relative;

  &::before {
    content: '';
    display: block;
    position: absolute;
    top: 62%;
    left: 0;
    width: 100%;
    height: 57%;
    // height: 45%;
    background: $secondary-color;
    transform: skewY(10deg);
    z-index: -1;
  }
}


.news-list {
  width: 768px;
  height: 467px;
  display: grid;
  grid-template: 1fr 1fr 1fr;
  padding: 40px;
  margin: 80px auto 0;
  box-shadow: 0px 3px 12px $shadow-color;
  background: #fff;

  @include mq(lg) {
    width: 100%;
    height: 450px;
  }
}

.news-item {
  // background: #D7C4BB;
  border-bottom: 1px solid $line-color;
  padding-top: 20px;
  
}

.news-item-link {

}

.news-item-flex {
  display: flex;
}

.news-item-category {
  border: 1px solid $accent-color2;
  font-size: 14px;
  line-height: 1.7142;
  padding: 5px 24px 5px;
  color: $accent-color2;
}
.news-item-date {
  margin-left: auto;
  padding-top: 10px;
  font-size: 14px;
  color: $text-color3;

}
.news-item-text {
  color: $text-color1;
  line-height: 1.75;
  padding-top: 16px;
  font-weight: bold;

}


/* ===============================================
  footer
=============================================== */
.footer {
  display: grid;
  grid-template:
    "download contact" 340px
    "footer footer" 392px
    / 1fr 1fr;
  margin-top: 160px;

  @include mq(sm) {
    grid-template:
    "download" 340px
    "contact" 340px
    "footer" 392px
    / 1fr;
  }
}

.other {

}
.download {
  background: url(/img/01-top/img-download@2x.jpg) center center / cover no-repeat;
  grid-area: download;

}

.other-inner {
  width: 315px;
  text-align: center;
  margin: 56px auto 50px;
}

.other-title {
  font-size: 60px;
  line-height: 72px;
  color: #fff;
  font-family: $font-family2;

}

.other-text {
  font-size: 16px;
  line-height: 24px;
  color: #fff;
}

.contact {
  background: url(/img/01-top/img-contact@2x.jpg) center center / cover no-repeat;
  grid-area: contact;

}

.footer-down {
  background: $text-color1;
  grid-area: footer;
  color: $text-color2;
}
.footer-logo {
  font-family: $font-family3;
  font-weight: bold;
  font-style: italic;
  font-size: 52px;
  line-height: 68px;
  text-align: center;
  margin-top: 114px;
}

.footer-info {
  width: 235px;
  height: 68px;
  margin: 23px auto 0;
  font-style: normal;
}
.footer-info-address {

}
.footer-info-tel {

}

.footer-info-fax {

}
.footer-copytight {
  margin: 80px auto 0;
  text-align: center;
}