@charset "UTF-8";
/* ===============================================
# mixins
================================================ */
/* ===============================================
# colors
================================================ */
/* ===============================================
# font
================================================ */
/* ===============================================
# common - 全体に共通するスタイル
================================================ */
@media screen and (max-width: 576px) {
  .none-sm {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .none-md {
    display: none;
  }
}
@media screen and (max-width: 1000px) {
  .none-lg {
    display: none;
  }
}
@media screen and (max-width: 1200px) {
  .none-xl {
    display: none;
  }
}
@media screen and (max-width: 1400px) {
  .none-xxl {
    display: none;
  }
}
body {
  font-size: 14px;
  color: #1A1A1A;
  font-family: "Noto Sans JP", sans-serif;
  line-height: 1.7142;
}

img {
  width: 100%;
}

.inner {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 7.0312vw;
  box-sizing: content-box;
}
@media screen and (max-width: 1000px) {
  .inner {
    padding: 0 10.6667vw;
  }
}

.util-title {
  color: #023E78;
  font-family: "Fira Sans", sans-serif;
  font-size: 100px;
  line-height: 1.21em;
}
@media screen and (max-width: 768px) {
  .util-title {
    font-size: 52px;
  }
}

.util-title-jp {
  font-size: 24px;
  line-height: 1.458em;
  color: #023E78;
  font-family: "Fira Sans", sans-serif;
  font-weight: bold;
}
@media screen and (max-width: 768px) {
  .util-title-jp {
    font-size: 16px;
  }
}

@media screen and (max-width: 1000px) {
  .view-more {
    display: none;
  }
}

.view-more-square {
  margin-top: 40px;
  text-align: center;
}

.view-more-square-link {
  display: inline-block;
  font-family: "Fira Sans", sans-serif;
  font-style: italic;
  font-size: 24px;
  line-height: 28px;
  color: #FFF400;
  border: solid 3px #FFF400;
  padding: 35px 100px;
  position: relative;
}
.view-more-square-link::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  right: 32px;
  transform: translateY(-50%);
  width: 21px;
  height: 14px;
  background: url(/img/01-top/icon-arrow-right01.svg) center center/cover no-repeat;
}

/* ===============================================
  @extend
=============================================== */
/* ===============================================
  header
=============================================== */
.header {
  width: 100%;
  height: 100px;
}

.header-inner {
  margin: 0 16px;
  display: flex;
  align-items: center;
}

.header-logo {
  width: 282px;
  height: 53px;
}

.header-nav {
  margin-left: auto;
}

.header-nav-list {
  display: flex;
  align-items: center;
}

.header-nav-item {
  position: relative;
}
.header-nav-item + .header-nav-item {
  margin-left: 3.5937vw;
}
.header-nav-item + .header-nav-item::before {
  position: absolute;
  content: "／";
  display: inline-block;
  left: -2.3437vw;
  top: 50%;
  transform: translateY(-50%);
}

.header-nav-item-link {
  display: block;
  color: #1A1A1A;
  height: 100px;
  line-height: 100px;
}

.header-nav-download {
  display: inline-block;
  border: solid 1px #023E78;
  width: 176px;
  margin-left: 32px;
}
@media screen and (max-width: 1200px) {
  .header-nav-download {
    display: none;
  }
}

.header-nav-download-link {
  display: block;
  color: #1A1A1A;
  height: 66px;
  line-height: 66px;
  text-align: center;
}

.header-nav-contact {
  display: inline-block;
  width: 176px;
  margin-left: 10px;
}
@media screen and (max-width: 1000px) {
  .header-nav-contact {
    display: none;
  }
}

.header-nav-contact-link {
  display: block;
  color: #FFFFFF;
  height: 68px;
  line-height: 68px;
  text-align: center;
  background: #023E78;
}

/* ===============================================
  top
=============================================== */
.top {
  position: relative;
}

.top-pic {
  padding-top: 58%;
  background: url(/img/01-top/img-mv01_pc@2x.jpg) top right/92.9% no-repeat;
}

.top-message {
  position: absolute;
  left: 50px;
  top: 85.7%;
  transform: translateY(-100%);
}

.top-message-title {
  background: #FFFFFF;
  color: #023E78;
  font-size: 4.6875vw;
  font-family: "Fira Sans", sans-serif;
  line-height: 1.2;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.top-message-title + .top-message-title {
  margin-top: 16px;
}

.sm-change {
  display: none;
}
@media screen and (max-width: 576px) {
  .sm-change {
    display: block;
  }
}

.top-message-text {
  background: #023E78;
  color: #FFFFFF;
  font-size: 1.5625vw;
  font-weight: bold;
  line-height: 1.45;
  margin-top: 16px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

/* ===============================================
  about
=============================================== */
.about {
  background: url(/img/01-top/bg-company@2x.jpg) top right/contain no-repeat;
  max-height: 800px;
  height: 62.5vw;
  position: relative;
}
@media screen and (max-width: 1000px) {
  .about {
    background: url(/img/01-top/bg-case@2x.jpg) bottom right/contain no-repeat;
    max-height: 1300px;
    height: 256.266vw;
  }
}
.about::before {
  content: "";
  display: block;
  position: absolute;
  top: 28%;
  left: 0;
  width: 100%;
  height: 92%;
  background: #EDF3F8;
  transform: skewY(10deg);
  z-index: -1;
}

.about-inner {
  padding-top: clamp(8.125vw, 8.125vw, 104px);
}

.util-title-flex {
  display: flex;
}

.about-message-flex {
  display: flex;
  margin-top: 21px;
  align-items: center;
}
@media screen and (max-width: 1000px) {
  .about-message-flex {
    display: block;
  }
}

.about-message-text {
  width: 29.6875vw;
  font-size: 14px;
  line-height: 1.7142;
}
@media screen and (max-width: 1000px) {
  .about-message-text {
    width: 100%;
  }
}

.about-view {
  color: #FFFFFF;
}

.about-message-img {
  width: 53.125vw;
  margin-left: 3.125vw;
}

/* ===============================================
  service
=============================================== */
.service {
  margin-top: 250px;
  position: relative;
}
.service::before {
  content: "";
  display: block;
  position: absolute;
  top: 55%;
  left: 0;
  width: 100%;
  height: 45%;
  background: #EDF3F8;
  transform: skewY(10deg);
  z-index: -1;
}

.service-list {
  max-width: 1100px;
  height: 830px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 70px;
  margin-top: 48px;
}

.service-item {
  max-height: 583px;
  max-width: 320px;
  height: 583px;
}

.service-item-2 {
  margin-top: 55px;
}

.service-item-3 {
  margin-top: 110px;
}

.service-item-img-1 {
  height: 33.3593vw;
  background: url(/img/01-top/img-service01@2x.jpg) bottom left/100% no-repeat;
  position: relative;
}

.service-item-img-2 {
  height: 33.3593vw;
  background: url(/img/01-top/img-service02@2x.jpg) bottom left/100% no-repeat;
  position: relative;
}

.service-item-img-3 {
  height: 33.3593vw;
  background: url(/img/01-top/img-service03@2x.jpg) bottom left/100% no-repeat;
  position: relative;
}

.service-item-title-1 {
  position: absolute;
  color: #023E78;
  background: #FFFFFF;
  font-size: 2.1875vw;
  line-height: 3.125vw;
  top: 80%;
  left: -10%;
}

.service-item-title-2 {
  position: absolute;
  top: 70%;
  left: -10%;
}

.service-item-title-3 {
  position: absolute;
  top: 70%;
  left: -10%;
}

.service-item-title {
  display: inline-block;
  color: #023E78;
  background: #FFFFFF;
  font-size: 2.1875vw;
  line-height: 3.125vw;
}

.service-item-title-bottom {
  color: #023E78;
  background: #FFFFFF;
  font-size: 2.1875vw;
  line-height: 3.125vw;
  margin-top: 9px;
}

.service-item-text {
  color: #1A1A1A;
  margin-top: 16px;
  font-size: 14px;
  line-height: 24px;
}

/* ===============================================
  case
=============================================== */
.case {
  background: url(/img/01-top/bg-case@2x.jpg) center center/cover no-repeat;
  padding-top: 99px;
}
.case * {
  color: #FFFFFF;
}

.case-items {
  display: grid;
  grid-template: 1fr 1fr/1fr 1fr 1fr;
  grid-gap: clamp(6.3636%, 6.3636%, 70px);
  margin-top: 80px;
  padding-bottom: 120px;
}

.case-item-title {
  line-height: 1.5;
  margin: 16px auto 6px 0;
}

.case-item-sub-title-wrap {
  height: 44px;
  display: flex;
  align-items: center;
}

.case-item-sub-title {
  border: solid 1px #FFFFFF;
  padding: 3px 15px 3px 15px;
}

.case-item-sub-title-img {
  margin-left: auto;
  margin-right: 8px;
}

/* ===============================================
  news
=============================================== */
.news {
  margin-top: 166px;
  position: relative;
}
.news::before {
  content: "";
  display: block;
  position: absolute;
  top: 62%;
  left: 0;
  width: 100%;
  height: 57%;
  background: #EDF3F8;
  transform: skewY(10deg);
  z-index: -1;
}

.news-list {
  width: 768px;
  height: 467px;
  display: grid;
  grid-template: 1fr 1fr 1fr;
  padding: 40px;
  margin: 80px auto 0;
  box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.1607843137);
  background: #fff;
}
@media screen and (max-width: 1000px) {
  .news-list {
    width: 100%;
    height: 450px;
  }
}

.news-item {
  border-bottom: 1px solid #DDDDDD;
  padding-top: 20px;
}

.news-item-flex {
  display: flex;
}

.news-item-category {
  border: 1px solid #E61264;
  font-size: 14px;
  line-height: 1.7142;
  padding: 5px 24px 5px;
  color: #E61264;
}

.news-item-date {
  margin-left: auto;
  padding-top: 10px;
  font-size: 14px;
  color: #888888;
}

.news-item-text {
  color: #1A1A1A;
  line-height: 1.75;
  padding-top: 16px;
  font-weight: bold;
}

/* ===============================================
  footer
=============================================== */
.footer {
  display: grid;
  grid-template: "download contact" 340px "footer footer" 392px/1fr 1fr;
  margin-top: 160px;
}
@media screen and (max-width: 576px) {
  .footer {
    grid-template: "download" 340px "contact" 340px "footer" 392px/1fr;
  }
}

.download {
  background: url(/img/01-top/img-download@2x.jpg) center center/cover no-repeat;
  grid-area: download;
}

.other-inner {
  width: 315px;
  text-align: center;
  margin: 56px auto 50px;
}

.other-title {
  font-size: 60px;
  line-height: 72px;
  color: #fff;
  font-family: "Fira Sans", sans-serif;
}

.other-text {
  font-size: 16px;
  line-height: 24px;
  color: #fff;
}

.contact {
  background: url(/img/01-top/img-contact@2x.jpg) center center/cover no-repeat;
  grid-area: contact;
}

.footer-down {
  background: #1A1A1A;
  grid-area: footer;
  color: #FFFFFF;
}

.footer-logo {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-style: italic;
  font-size: 52px;
  line-height: 68px;
  text-align: center;
  margin-top: 114px;
}

.footer-info {
  width: 235px;
  height: 68px;
  margin: 23px auto 0;
  font-style: normal;
}

.footer-copytight {
  margin: 80px auto 0;
  text-align: center;
}/*# sourceMappingURL=style.css.map */